@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Maven+Pro|Patua+One');

body{
   
   
   
    margin: 0%;
    min-height: 780px;
    border: 1px solid rgba(56, 201, 20, 0.582);
    overflow: hidden;
    display: flex;
    flex-direction: row;
  
}

.leading-page{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border: 1px solid red;
    

}
.greating, .scroll-msg{
    font-size: 0.9em;
    color: #999;
    font-family: 'Roboto', sans-serif;
}
.greating {
    font-size: 10px;
}
.break{
    margin: 10px;
}
.skills{
    font-size: 1.6em;
    font-weight: normal;
    color: rgb(25, 26, 26);
    font-family: 'Nunito Sans', sans-serif;
}
.welcome-msg{
    padding: 10px;
}
.welcome-msg-container{
    margin-left: 8%;
    width: 50%;
    border: 1px solid red;

    

}


.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.sidebar-container {
    display: flex;
    align-content: center;
    justify-content: center;
    

    width: 80px;
}

@media (max-width: 780px){
    .skills{
        width: 100%;
        font-size: 1em;
    }
    .welcome-msg-container{
        width: 50%;
    }
}
@media (max-width: 980px){
    .skills{
        width: 100%;
        font-size: 1em;
    }
    
}